/*******MAIN ELEMENTS********/
body{
   /* display: flex;  */
    box-sizing: border-box;
    background-color: #f9f5f5;
}

* {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  color: #29260afa;
}
main {
  width: 80%;
  float: left;
}
aside {
  width: 20%;
  display: inline-block;
  word-break: break-word;
  padding: 1.3%;
  transform: translate(10%);
}

footer {
background: #29260afa!important;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

li{
    list-style: none;
}

.page{
    display: flex;
    margin-top: 3.7rem;
}

/*******HEADINGS********/
h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h4{
    padding-bottom: 1rem;
}


/*******SECTIONS********/

/*******BREADCRUMBS********/
.breadcrumb{
    background: #efece254;
    padding-left: 3.8rem;
}
.breadcrumb-item.active {
    color: #cecbbf;
}

/*******BUTTONS************/
.btn {
  width: 10%;
  padding: 0.3rem;
  background: #2d2a0e;
  color: #f6f2ef;
  border: none;
  border-radius: 13px;
  transition: background: 0,2s;
}

.btn:hover,
.btn-action:hover{
    background: #3c3813d9;
    color: #f6f2ef;
}

.btn-action {
    padding: 0.3rem;
    text-align: center;
    width: 50%;
    color: #f6f2ef;
    background: #29260afa;
    transition: background: 0,2s;
  }
  
  .btn-action:first-of-type{
      border-right: 1px solid;
      border-bottom-left-radius: 13px;
  }
  
  .btn-action:last-of-type{
    border-bottom-right-radius: 13px;
  }

/*******LINKS****************/
a:link,
a:visited {
  text-decoration: none;
  color: #2d2a0e;
}

a:hover,
a:active{
    color: #b19e86;
}


/**********NAV*************/
.logo{
    width: 4rem;
    height: auto;
}
.logo img{
    width: 100%;
}

.bg-dark {
    background: #29260afa!important;
}
.nav-photo-span{
margin-right: 1rem;
vertical-align: middle;
}

#nav-photo{
    border-radius: 50%;
    width: 2rem; 
}
.nav-link{
   color: #efece2d4!important;
   transition: color: 0,2s;
}
.nav-link:hover{
    color: #f9f5f5!important;
}


/**********ASIDE*************/
.aside-prof-pic{
    max-width: 15rem;
    max-height: 15rem;
    margin-bottom: 2rem;
}
.aside-prof-pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

aside i {
    margin-right: 1rem;
}

#ul-aside{
    padding-left: 0;
}

#ul-aside a:link,
#ul-aside a:visited{
    transition: color: 0,2s;
}


/**********FORM**************/
.form{
    background: #efece254;
    padding: 1rem;
    border-radius: 13px;
}

/**********Timeline form**************/
.postme-form {
  width: 100%;
  margin: 0 auto;
}

.form-el {
  width: 100%;
  margin-top: 0.7rem;
}

.form-el .btn{
    float: right;
}

.postme-form textarea,
select,
input[type="text"] {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
  padding: 0.4rem;
  background-color: #f9f5f5;
}

input[type="text"] {
height: 1.6rem;
}

.postme-form select {
  width: 40%;
  margin-left: 3%;
}
.postme-form input[type="file"] {
    margin-left: 1%;
}
.postme-form input[type="file"]:first-of-type {
    margin-left: 4.3%;
}

#file-label{
    margin-left: 3%;
}
.file-upload{
    padding-right: 1rem;
    margin-left: 0.2rem;
}

.file-upload > input
{
    display: none;
}

.file-upload i{
    font-size: 130%;
    transition: color: 0.2s;
}
.file-upload i:hover{
    color: #b19e86;
}


/**********TIMELINE**********/
.timeline {
  height: 100rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/**********Posts**********/
.post {
  width: 32.9%;
  background: #efece2fc;
  margin: 0.5rem;
  margin-left: 0;
  border-radius: 13px;
}
.main-post {
  padding-bottom: 0.2rem;
}

.main-content {
  padding: 1rem;
  padding-bottom: 0;
}

/**********Post photo**********/
.post-photo {
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
  }
  .post-photo img{
      width: 100%;
  }

/**********Post users**********/
.user {
  width: 100%;
  margin-bottom: -0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.user-photo {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}
.user-name {
  margin-left: 5%;
}
.user-name img {
  width: 100%;
  border-radius: 50%;
}

/**********Category**********/
.category {
  text-align: end;
  padding-left: 1rem;
  padding-right: 1rem;
}

/**********Action div**********/
.action-div {
  height: 2.2rem;
  display: flex;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
/*********act buttons are up**********/


/*************PROFILE****************/
/*********Profile header**********/
.prof-head{
margin-top: 3rem;
text-align: center;
background: #efece2fc;
 }

 .header-prof-pic{
    display: inline-block;
    margin: 3rem;
 }
 #user-name{
    display: inline-block;
 }

 /*********Profile form and cards**********/
 .form-control,
 .custom-select,
 .card,
 .card-img-top{
    background-color: #f9f5f5;
    border-radius: 13px;
 }
 .card{
     background: #efece2;
     transition: transform 0.5s;
 }

 .card:hover{
     transform: scale(1.1);
 }

.card-img-top{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


 /*************FOOTER****************/
 footer div{
    color: #cecbbf;
    text-align: center;
 }

 